<!-- pango-essence-module.liquid -->
<section class="p-{{ section.id }}">
    <div class="essence-mod-wrapper">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'essence_text' -%}
        <div class="essence-text-container">
            <h2 class="essence-title alpina-thin">{{ block.settings.title }}</h2>
            <div class="essence-image-container">
                {{ block.settings.essence_image | image_url: width: 500 | image_tag }}
            </div>
            <div>
                <a href="{{ block.settings.button_link }}" class="main-button-black main-button-white">{{ block.settings.button_text }}</a>
            </div>
        </div>
        {%- when 'essence_video' -%}
            <div class="video-container">
                {{ block.settings.essence_video_block | video_tag: autoplay: true, loop: true, muted: true, class: 'p-vid-essence' }}
            </div>
        {%- endcase -%}
        {%- endfor -%}
    </div>
</section>


<style>
    .p-{{section.id}}{
        background:black;
        color:white;
        .essence-mod-wrapper{
            display: flex;
            flex-direction: column;
            .essence-text-container{
                padding: 64px 17px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:58px;
                .essence-title{
                    margin:0;
                    font-size: 60px;
                    max-width: 642px;
                }
                .essence-image-container{
                    width:144px;
                    height:179px;
                    img{
                        display: block;
                        max-width: 100%;
                    }
                }
            }
            .video-container{
                min-height: 393px;
                position: relative;
                video{
                    object-fit: cover;
                    aspect-ratio: 393 / 550;
                }
                @media (min-width:430px){
                    video{
                        aspect-ratio: 393 / 450;
                    }
                }
            }
        }
        @media (min-width:900px){
            .essence-mod-wrapper{
                flex-direction:row;
              
                .essence-text-container,
                .video-container{
                    width: 50%;
                    video{
                        object-fit: cover;
                        aspect-ratio: 393 / 750;
                    }
                }

            }
        }
        @media (min-width:1200px){
            .essence-mod-wrapper{
                flex-direction:row;
                .essence-text-container,
                .video-container{
                    max-height: 964px;
                    width: 50%;
                    video{
                        object-fit: cover;
                        aspect-ratio: 720 / 964;
                    }
                }

            }
        }
    }
</style>

{% schema %}
  {
  "name": "Pango Essence Module",
  "settings": [
  ],
  "blocks": [
    {
      "name": "Essence text",
      "type": "essence_text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "The essence of emotion, captured in fragrance."
        },
        {
          "type": "image_picker",
          "id": "essence_image",
          "label": "Essence image"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    },
    {
        "name": "Essence video",
        "type": "essence_video",
        "settings":[
            {
                "type": "video",
                "id": "essence_video_block",
                "label": "Essence video"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Pango Essence Module",
      "category": "All Pango"
    }
  ]
}  
{% endschema %}