<!-- pango-scented-cards.liquid -->
<section class="p-{{ section.id }}">
    <div class="section-wrapper">
        <div class="upper-container">
            <div class="text-container">
                <h2>{{ section.settings.heading }} </h2>
                {{ section.settings.paragraph }} 
            </div>
        </div>

        <div class="soundscape-cards-container">
            {%- for block in section.blocks -%}
            {%- case block.type -%}

                {%- when 'soundscape_cards' -%}
                {%- assign product = block.settings.product -%}
                {{ product.title }}
                {{ product.description }}

            {%- endcase -%}
            {%- endfor -%}
        </div>

    </div>
</section>


{% schema %}
  {
  "name": "Pango Scented Cards",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "OUR SCENTED SPECTRUM"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "<p>Our collection unfolds like a symphony, beginning with soft, luminous scents that whisper on the skin, gradually building towards deeper, more opulent creations.</p>"
    }
  ],
  "blocks": [
    {
      "name": "Soundscape cards",
      "type": "soundscape_cards",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pango Scented Cards",
      "category": "All Pango"
    }
  ]
}  
{% endschema %}