{% capture email_title %}
  {% if item_count == 1 %}
    Dear {{ billing_address.first_name }},
  {% else %}
    Dear {{ billing_address.first_name }},
  {% endif %}
{% endcapture %}
{% capture email_body %}
    <p>You’ve selected a unique creation, but it’s not yours yet.</p>
    <p>Every OTZLAB fragrance is a masterpiece that encapsulates tradition, roots, and emotions. Don’t let this experience slip away.</p>
    <p class="disclaimer__subtext">If you need assistance to finalize your order, we’re at your disposal to help. Contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
    <p>Thank you for trusting OTZLAB.</p>
{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  </style>
</head>

  <body>
       <!-- ----------------------------- -----------TOP PART PANGO-------------- --------------------------------- --------------------------- -->
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
 <tr>
   <td align="center" style="padding:20px 0;">
     <img
       src="https://cdn.shopify.com/s/files/1/0946/9024/7043/files/Logo2Black.png?v=1768987921"
       width="auto"
       height="29"
       alt="logo"
       style="
         display:block;
         margin:0 auto;
         width:auto;
         height:29px;
         object-fit:cover;
       "
     />
   </td>
 </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size:0; line-height:0;">
 <tr>
   <td align="center">
     <table width="600" cellpadding="0" cellspacing="0" border="0" style="max-width:600px; width:100%; font-size:0; line-height:0;">
       <tr>
         <!-- Left image -->
         <td width="50%" style="border:0; padding:0; font-size:0; line-height:0; height:100%;">
           <img src="https://cdn.shopify.com/s/files/1/0967/8625/2151/files/Image_Container_izq.png?v=17682155942" alt="Left image" style="display:block; width:100%; height:100%; border:0; margin:0; padding:0; object-fit:cover;">
         </td>
         <!-- Right image -->
         <td width="50%" style="border:0; padding:0; font-size:0; line-height:0; height:100%;">
           <img src="https://cdn.shopify.com/s/files/1/0967/8625/2151/files/Image_Container_2.png?v=1768217332" alt="Right image" style="display:block; width:100%; height:100%; border:0; margin:0; padding:0; object-fit:cover;">
         </td>
       </tr>
     </table>
   </td>
 </tr>
</table>
<!---------------------------------- ----------------------  END TOP PART PANGO --------------- -------------------------------------- ------------------->


    <table class="body">
      <tr>
        <td>
          <table class="header row">
  <tr>
    <td class="header__cell">
      <center>

        <table class="container">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="shop-name__cell">
                    {%- if shop.email_logo_url %}
                      <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                    {%- else %}
                      <h1 class="shop-name__text">
                        <a href="{{shop.url}}">{{ shop.name }}</a>
                      </h1>
                    {%- endif %}
                  </td>

                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

          <table class="row content">
  <tr>
    <td class="content__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              
            <h2>{{ email_title }}</h2>
            {% if custom_message != blank %}
              <p>{{ custom_message }}</p>
            {% else %}
              <p>{{ email_body }}</p>
            {% endif %}
            <table class="row actions">
  <tr>
    <td class="empty-line">&nbsp;</td>
  </tr>
  <tr>
    <td class="actions__cell">
      <table class="button main-action-cell">
        <tr>
          <td class="button__cell"><a href="{{ url }}" class="button__text">COMPLETE MY PURCHASE</a></td>
        </tr>
      </table>
        {% if shop.url %}
    <table class="link secondary-action-cell">
      <tr>
        <td class="link__cell">or <a href="{{ shop.url }}">Visit our store</a></td>
      </tr>
    </table>
{% endif %}

    </td>
  </tr>
</table>


            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

          <table class="row section">
  <tr>
    <td class="section__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              <h3>Complete your purchase</h3>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              
            
  <table class="row">
    {% for line in subtotal_line_items %}
      
{% comment %} Skip child add-ons since they will be rendered under the parent line item {% endcomment %}
{% unless line.nested_line_child? %}

  {% assign is_parent = false %}
  {% assign is_nested_line_parent = line.nested_line_parent? %}
  {% if line.bundle_parent? or line.nested_line_parent? %}
    {% assign is_parent = true %}
  {% endif %}
  {% if is_nested_line_parent %}
    {% assign css_order_list_cell_nested_line_parent_class = 'order-list__parent-cell' %}
    {% assign css_order_list_parent_image_cell_nested_line_parent_class = 'order-list__nested-parent-image-cell' %}
  {% endif %}

  <tr class="order-list__item">
    <td class="order-list__item__cell {{ css_order_list_cell_nested_line_parent_class }}">
      <table height="100%">
        <td style="padding-bottom: 0px;">
          <table height="100%">
            <tr valign="top">
              {% if true and is_parent %}
                <td class="order-list__parent-image-cell {{ css_order_list_parent_image_cell_nested_line_parent_class }}">
                  {% if line.image %}
                    <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
                  {% else %}
                    <div class="order-list__no-image-cell">
                      <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" class="order-list__no-product-image"/>
                    </div>
                  {% endif %}
                </td>
              {% else %}
                <td class="order-list__image-cell">
                  {% if line.image %}
                    <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
                  {% else %}
                    <div class="order-list__no-image-cell">
                      <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="60" height="60" class="order-list__no-product-image"/>
                    </div>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
            {% if is_nested_line_parent %}
              <tr height="100%">
                <td style="padding: 0px;" height="100%">
                  <table height="100%">
                    <tr>
                      <td height="100%" class="nested-line-item-spacer-cell">
                        <div class="nested-line-item-spacer"></div>
                      </td>
                      <td height="100%" class="parent-vertical-line__cell">
                        <div class="parent-vertical-line__content"></div>
                      </td>
                    </tr>
                  </table>                        
                </td>
              </tr>
            {% endif %}
          </table>
        </td>

        <td class="order-list__product-description-cell">
          {% if line.presentment_title %}
            {% assign line_title = line.presentment_title %}
          {% elsif line.title %}
            {% assign line_title = line.title %}
          {% else %}
            {% assign line_title = line.product.title %}
          {% endif %}
          {% if line.quantity < line.quantity %}
            {% capture line_display %}
              {{ line.quantity }} of {{ line.quantity }}
            {% endcapture %}
          {% else %}
            {% assign line_display = line.quantity %}
          {% endif %}

          <span class="order-list__item-title">{{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}</span><br/>

          {% if line.variant.title != 'Default Title' and is_parent == false %}
            <span class="order-list__item-variant">{{ line.variant.title }}</span><br/>
          {% elsif line.variant.title != 'Default Title' and line.nested_line_parent? %}
            <span class="order-list__item-variant">{{ line.variant.title }}</span><br/>
          {% elsif line.variant.title != 'Default Title' and line.bundle_parent? and true == false %}
            <span class="order-list__item-variant">{{ line.variant.title }}</span><br/>
          {% endif %}

          {% if true %}
            {% for child_line in line.bundle_components %}
              
{% if true %}
  {% assign css_class = 'order-list__bundle-item' %}
  {% assign css_image_class = 'order-list__image-cell' %}
  {% assign css_description_class = 'order-list__product-description-cell' %}
{% else %}
  {% assign css_class = 'order-list__deliverable-item_abandoned' %}
  {% assign css_image_class = 'order-list__image-cell--nested-line-item' %}
  {% assign css_description_class = 'order-list__product-description-cell--nested-line-item' %}
  {% if false %}
    {% assign css_curved_line_cell_container_class = 'curved-line-cell-container__top-spacer-cell--show-border' %}
    {% assign css_hide_vertical_line_class = 'vertical-line__content--hide' %}
    {% assign css_curved_line_cell_container_cell__no_padding_class = 'curved-line-cell-container__cell--no-padding' %}
  {% endif %}
{% endif %}

<table height="100%">
  <tr class="order-list__item">
    <td class="{{ css_class }}" height="100%">
      <table height="100%">
        <td class="{{ css_image_class }}">
          {% if child_line.image %}
            <img src="{{ child_line | img_url: 'compact_cropped' }}" align="left" width="40" height="40" class="order-list__product-image small"/>
          {% else %}
            <div class="order-list__no-image-cell small">
              <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="20" height="20" class="order-list__no-product-image small"/>
            </div>
          {% endif %}
        </td>

        <td class="{{ css_description_class }}">
          {% if child_line.product.title %}
            {% assign item_title = child_line.product.title %}
          {% else %}
            {% assign item_title = child_line.title %}
          {% endif %}

          {% assign item_display = child_line.quantity %}

            <span class="order-list__item-title">{{ item_display }}&nbsp;&times;&nbsp;{{ item_title }}</span><br>

          {% if child_line.variant.title != 'Default Title'%}
            <span class="order-list__item-variant">{{ child_line.variant.title }}</span>
          {% endif %}
        </td>
      </table>
    </td>
  </tr>
</table>
            {% endfor %}
          {% else %}
            {% for group in line.groups %}
              {% if group.deliverable? %}
                <span class="order-list__item-variant">For: {{ group.display_title }}</span><br/>
              {% else %}
                <span class="order-list__item-variant">Part of: {{ group.display_title }}</span><br/>
              {% endif %}
            {% endfor %}
          {% endif %}


          {% if line.selling_plan_allocation %}
            <span class="order-list__item-variant">{{ line.selling_plan_allocation.selling_plan.name }}</span><br/>
          {% endif %}

          {% if line.refunded_quantity > 0 %}
            <span class="order-list__item-refunded">Refunded</span>
          {% endif %}

          {% if line.discount_allocations %}
            {% for discount_allocation in line.discount_allocations %}
              {% if discount_allocation.discount_application.target_selection != 'all' %}
              <p>
                <span class="order-list__item-discount-allocation">
                  <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                  <span>
                    {{ discount_allocation.discount_application.title | upcase }}
                    (-{{ discount_allocation.amount | money }})
                  </span>
                </span>
              </p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </td>
        {% if line.nested_line_parent? %}
          {% for child_line in line.nested_lines %}
            
{% if false %}
  {% assign css_class = 'order-list__bundle-item' %}
  {% assign css_image_class = 'order-list__image-cell' %}
  {% assign css_description_class = 'order-list__product-description-cell' %}
{% else %}
  {% assign css_class = 'order-list__deliverable-item_abandoned' %}
  {% assign css_image_class = 'order-list__image-cell--nested-line-item' %}
  {% assign css_description_class = 'order-list__product-description-cell--nested-line-item' %}
  {% if forloop.last %}
    {% assign css_curved_line_cell_container_class = 'curved-line-cell-container__top-spacer-cell--show-border' %}
    {% assign css_hide_vertical_line_class = 'vertical-line__content--hide' %}
    {% assign css_curved_line_cell_container_cell__no_padding_class = 'curved-line-cell-container__cell--no-padding' %}
  {% endif %}
{% endif %}

<table height="100%">
  <tr class="order-list__item">
    <td class="{{ css_class }}" height="100%">
      <table height="100%">
          <td class="nested-line-item-spacer-cell"style="padding: 1px;">
            <div class="nested-line-item-spacer"></div>
          </td>
          <td class="curved-line-cell-container" valign="top">
            <div style="width: 0px;">
              <table>
                <tr>
                  <td class="{{ css_curved_line_cell_container_cell__no_padding_class }}" style="mso-padding-right-alt: 10px;">
                    <div class="curved-line-cell-container__top-spacer {{ css_curved_line_cell_container_class }}"></div>
                  </td>
                </tr>
                <tr>
                  <td class="curved-line-cell-container__curvedLine-cell">
                    <div class="curved-line-cell-container__curvedLine-cell__curvedLine"></div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td class="vertical-line" height="100%">
            <div class="vertical-line__content {{ css_hide_vertical_line_class }}"></div>
          </td>
          <td class="nested-line-item-spacer-cell--right">
            <div class="nested-line-item-spacer"></div>
          </td>
        <td class="{{ css_image_class }}">
          {% if child_line.image %}
            <img src="{{ child_line | img_url: 'compact_cropped' }}" align="left" width="40" height="40" class="order-list__product-image small"/>
          {% else %}
            <div class="order-list__no-image-cell small">
              <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="20" height="20" class="order-list__no-product-image small"/>
            </div>
          {% endif %}
        </td>

        <td class="{{ css_description_class }}">
          {% if child_line.product.title %}
            {% assign item_title = child_line.product.title %}
          {% else %}
            {% assign item_title = child_line.title %}
          {% endif %}

          {% assign item_display = child_line.quantity %}

            <span class="order-list__item-title">{{ item_title }}&nbsp;&times;&nbsp;{{ item_display }}</span><br>

          {% if child_line.variant.title != 'Default Title'%}
            <span class="order-list__item-variant">{{ child_line.variant.title }}</span>
          {% endif %}
        </td>
      </table>
    </td>
  </tr>
</table>
          {% endfor %}
        {% endif %}
      </table>
    </td>
  </tr>

{% endunless %}

    {% endfor %}
  </table>


            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

          <table class="row footer">
            <tr>
              <td class="footer__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <p class="disclaimer__subtext">Don't want to receive cart reminders from us? <a href="{{ unsubscribe_url }}">Unsubscribe</a></p>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
          <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />
        </td>
      </tr>
    </table>
<!---------------------------------- --------------- PANGO BOTTOM START----------- ------------------------- --------------------- ------------------------>   
<table width="100%" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#ffffff;">
 <tr style="background-image:url('https://cdn.shopify.com/s/files/1/0967/8625/2151/files/email-background-footer.png?v=1768380660'); background-size: cover;">
   <td align="center">


     <!-- Inner content container -->
     <table width="100%" cellpadding="0" cellspacing="0" role="presentation" style="max-width:600px;">
       <tr>
         <td class="email-padding" style="padding:60px 40px; text-align:center; font-family:Arial, Helvetica, sans-serif;">


           <!-- Title -->
           <h2 style="
             margin:0 0 16px 0;
             font-family: Garamond;
             font-size:24px;
             line-height:32px;
             font-weight:200;
             color:white;
           ">
             Get a personalized recommendation
           </h2>


           <!-- Description text -->
           <p style="
             margin:0 0 32px 0;
             font-size:10px;
             line-height:24px;
             font-family: sans-serif;
             color:white;
             width:'100px';
           ">
             Discover your signature of OTC lab scent. There is one to suit every mood, season, or memory.
           </p>


           <!-- Button -->
           <a href="https://otzlabmadrid.myshopify.com/pages/scent-guide"
              style="
                display:inline-block;
                padding:8px 28px;
                font-size:10px;
                font-weight:400;
                color:#ffffff;
                background-color:#000000;
                text-decoration:none;
                border:2px solid white;
                           font-family: Garamond;
              ">
             TRY THE SCENT GUIDE
           </a>


         </td>
       </tr>
     </table>


   </td>
 </tr>
</table>


<!-- LOGO CENTER-->
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
 <tr>
   <td align="center" style="padding-top:20px; background:black;">
     <img
       src="https://cdn.shopify.com/s/files/1/0967/8625/2151/files/Logo2White.png?v=1764848934"
       width="60"
       height="9"
       alt=""
       style="
         display:block;
         margin:0 auto;
         width:60px;
         height:9px;
         object-fit:cover;
       "
     />
   </td>
 </tr>
</table>
<!---------------------------------- --------------- PANGO SVG SOCIAL----------- ------------------------- --------------------- ------------------------>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #000000; color: #ffffff; font-family: Helvetica, Arial, sans-serif;">
 <tr>
   <td align="center" style="padding: 20px 0;">
     <table border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td style="padding: 0 10px;">
           <a href="FACEBOOK_URL" target="_blank">
       <img src="https://cdn.shopify.com/s/files/1/0946/9024/7043/files/FB.png?v=1768993416"
            width="7"
            height="12"
            alt="Facebook"
            style="display:block;border:0;">
           </a>
         </td>
         <td style="padding: 0 10px;">
           <a href="X-URL" target="_blank">
       <img src="https://cdn.shopify.com/s/files/1/0946/9024/7043/files/X.png?v=1768993548"
            width="12"
            height="12"
            alt="X"
            style="display:block;border:0;">
           </a>
         </td>
         <td style="padding: 0 10px;">
           <a href="IG-URL" target="_blank">
       <img src="https://cdn.shopify.com/s/files/1/0946/9024/7043/files/IG.png?v=1768993547"
            width="14"
            height="14"
            alt="instagram"
            style="display:block;border:0;">


           </a>
         </td>
         <td style="padding: 0 10px;">
           <a href="TIK-TOK_URL" target="_blank">
       <img src="https://cdn.shopify.com/s/files/1/0946/9024/7043/files/Tiktok.png?v=1768993548"
            width="10"
            height="13"
            alt="Tik-Tok"
            style="display:block;border:0;">
           </a>
         </td>
         <td style="padding: 0 10px;">
           <a href="YOUTUBE_URL" target="_blank">
       <img src="https://cdn.shopify.com/s/files/1/0946/9024/7043/files/Youtube.png?v=1768993547"
            width="16"
            height="13"
            alt="youtube"
            style="display:block;border:0;">


           </a>
         </td>
       </tr>
     </table>


   </td>
 </tr>
</table>
<!---------------------------------- --------------- PANGO BOTTOM END----------- ------------------------- --------------------- ------------------------>


  </body>
</html>
